:root{
    --text-color: #ffffff;
    --text-hover-color: #adadad;
    --secondary-text-color: #898989;
    --background-color: #000000;
    --button-subscribe-color: #1263de;
    --burger-color: #161616;
    --transparency-color: rgba(0, 0, 0, 0);
    --magnifier-open-color: #4e4e4e;
    --magnifier-open-pan-color: #ffffff;
    --btn-login-color: #2d2c2c;
    --btn-login-text-color: #e1d4d4;
    --major-info-button-color: #b8e5ff;
    --major-info-button-hover-color: #c7c7c7;
    --welcome-button-color: #d9d9d9;
    --welcome-button-hover-color: #b1b1b1;
    --login-link-select-color: #5f7c8d;
    --login-link-color: #5f7c8d63;
    --input-color: #1392dc;
    --input-placeholder-color: #5f7c8d8c;
    --input-placeholder-focus-color: #5f7c8d42;
    --button-login-color: #4b687f;
    --button-login-hover-color: #1392dc;
}