.subscribe-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1vh;
}

.subscribe-btn {
    position: relative;
    overflow: hidden;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    background-color: var(--button-subscribe-color);
    color: var(--text-color);
    width: clamp(100px, 159px, 300px);
    height: clamp(30px, 41px, 50px);
}

.subscribe-btn::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(120deg) translate(9em, -9em);
}

.subscribe-btn:hover::after {
    transform: rotateZ(120deg) translate(-9em, 8em);
    transition: transform 0.5s ease-out;
}