.main-container {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}



@media (max-width: 1254px) {
    .main-container{
        margin-left: 4%;
        margin-right: 4%;
    }
}
