.subscribe-div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .subscribe-div {
        flex-direction: column;

    }
}
