.carousel-wrapper img {
    width: 500px;
    height: 500px;
}

.splide__arrow {
    background: none;
}

.splide__arrow:focus {
    border: none;
}


.splide__arrow > img {
    height: 20rem;
    opacity: 0.5;
    transition: opacity 300ms ease-out;
}

.splide__arrow > img:hover {
    height: 20rem;
    opacity: 0.8;
}