.carousel-wrapper img {
    width: 300px;
    height: 200px;
}

.splide__arrow {
    background: none;
}

.splide__arrow:focus {
    border: none;
}


.splide__arrow > img {
    height: 10rem;
    opacity: 0.4;
    transition: opacity 300ms ease-out;
}

.splide__arrow > img:hover {
    opacity: 0.8;
}