.burger {
    display: flex;
    position: relative;
    justify-content: center;
}

.burger-title {
    border: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000000;
}

.burger-icon {
    margin-right: 1vw;
}

.burger-dropdown {
    z-index: 999999;
    background-color: var(--burger-color);
    width: 18rem;
    min-height: 25rem;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.burger:hover .burger-dropdown {
    visibility: visible;
    opacity: 1;
}

.burger-list {
    margin-top: 6rem;
}

.list-item {
    transition: color 300ms ease-out;
    color: var(--text-hover-color);
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: start;
}

.list-item:hover {
    color: var(--text-color);
    cursor: pointer;
}

.list-link {
    font-family: Inter, serif;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
}

@media (max-width: 850px) {
    .burger-icon {
        visibility: hidden;
    }

    .burger-title {
        margin-right: 3rem;
    }

    .burger {
        align-items: center;
        width: 100%;
        background-color: var(--burger-color);
        display: flex;
        flex-direction: column;
    }

    .burger-dropdown {
        position: relative;
        visibility: visible;
        opacity: 1;
    }

    .burger-list {
        margin-top: 0;
    }
}