.burger {
    display: flex;
    position: relative;
    justify-content: center;
}

.burger-title {
    border: none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}

.burger-icon {
    margin-right: 1vw;
}

.burger-dropdown {
    z-index: 99;
    background-color: var(--burger-color);
    width: 18rem;
    min-height: 25rem;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.burger:hover .burger-dropdown {
    visibility: visible;
    opacity: 1;

}

.burger-list {
    margin-top: 5rem;
}

.list-item {
    transition: color 300ms ease-out;
    color: var(--text-hover-color);
    margin-top: 3rem;
    margin-left: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: start;
}

.list-item:hover {
    color: var(--text-color);
}

.list-link {
    margin-left: 2rem;
}