.button-watch {
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1.2rem;
    font-size: 1.2rem;
    color: black;
    font-family: Inter, serif;
    font-weight: 500;
    background-color: #d9d9d9;
    transition: background-color 300ms ease-out;
    margin-right: 1rem;
}


@media (hover:hover) {
    .button-watch:hover {
        background-color: #b1b1b1;
    }
}

