.subscribe-code-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.subscribe-code-title {
    margin-top: 30%;
}

.subscribe-code-input-wrapper {
    margin-top: 10rem;
}

.subscribe-code-input {
    height: 2.5rem;
    float: left;
    width: 23rem;
    background-color: var(--subscribe-code-input-color);
    outline: none;
    color: var(--text-color);
    border: solid white 1px;
    border-radius: 10px;
    display: block;
    text-align: center;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.subscribe-code-input-wrapper::placeholder {
    color: var(--subscribe-code-input-placeholder-color);
    font-size: 1.25rem;
    font-weight: bold;
    font-family: Inter, serif;
}

.subscribe-code-button {
    font-weight: 600;
    font-family: Inter, serif;
    float: right;
    width: 23rem;
    height: 2.6rem;
    font-size: 1.25rem;
    color: var(--subscribe-code-button-text-color);
    background-color: var(--subscribe-code-button-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}