.input-login-password {
    position: relative;
    display: inline-block;
}

.input-login-password-see-password {
    align-items: center;
    justify-items: center;
    position: absolute;
    right: 0;
    top: 2rem;
    width: 2.5rem;
    height: 2.5rem;
}

.input-login-password-see-password > img {
    width: inherit;
    height: inherit;
}