.header {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu {
    display: flex;
    align-items: center;
}

.navigation-item {
    margin-right: clamp(2vh, 3vh, 4vh);
    color: var(--text-color)
}

.navigation-item:hover{
    color: var(--text-hover-color);
    transition: color 300ms ease-out;
}

.profile-info {
    border: none;
    border-radius: 5px;
    background-color: var(--btn-login-color);
    width: clamp(100px, 130px, 150px);
    height: clamp(30px, 35px, 40px);
    color: var(--btn-login-text-color);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}